# Dependencies
**/node_modules

# Env files (NEVER COMMIT)
**/.env
**/.env.*

# Builds
**/dist
**/build

# Prisma
**/.prisma

# Logs
**/*.log

# Local uploads (if you add)
**/uploads

# OS
**/.DS_Store
